# Git
.git
.gitignore

# Build artifacts
_build
deps
node_modules

# Dev/test files
.elixir_ls
.vscode
tmp
test
docs
stitch

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
*.swp
*.swo
*~
.idea

# Secrets
.env
*.pem
